@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
    font-family: 'VT323', monospace;
}

.abas img {
    width: 50px;
}

.cartao {
    background-color: gray;
    width: 400px;
    height: 600px;
    margin: auto;
}

.minhas-informacoes {
    background-color: green;
    margin: 5px;
}

.conteudo {
    background-color: blue;
    margin: 5px;
}

.abas {
    background-color: blueviolet;
    margin: 5px;
}

.aba {
    background-color: burlywood;
    margin: 5px;
}

.informacoes-abas {
    background-color: brown;
    margin: 5px;
}